# Ignore cram test output
*.t.err

# Python cruft
*.pyc

# Virtualenvs
.envrc
.direnv

# Testing
.tox
htmlcov

# Build output
build
dist
*.egg-info
.coverage
.cache
.eggs/
.pytest_cache

# IDE
.idea
venv/

# Requirement files for local tools
requirements-local.*
