Adam Gandelman <adamg@ubuntu.com>
Alex Vykaliuk <alekzvik@gmail.com>
Alexander Artemenko <svetlyak.40wt@gmail.com>
Andre Caron <andre.l.caron@gmail.com>
Barry Hart <barrywhart@yahoo.com>
Bas van den Heuvel <bas.vandenheuvel@student.uva.nl>
Benoit Brayer <brayer.benoit@gmail.com>
Brian Rutledge <bhrutledge@gmail.com>
Bruno Renié <buburno@gmail.com>
Carlos Eduardo Moreira dos Santos <cems@cemshost.com.br>
Casey Duquette <casey.duquette@hulu.com>
Costy Petrisor <costy.petrisor@gmail.com>
Craig de Stigter <craig.ds@gmail.com>
Dan Ryan <dan@danryan.co>
Daniel Hahler <git@thequod.de>
Dara Adib <dara@uber.com>
David Genest <david.genest@gmail.com>
David Genest <david.genest@ubisoft.com>
David Genest <david@iekho.com>
David Moore <davidm@sjsoft.com>
David Szotten <davidszotten@gmail.com>
Derek Miller <Derek.Miller@spacex.com>
Derek Miller <20miller10@gmail.com>
Derek Schaller <dschaller@lyft.com>
Derek Schaller <dschaller@users.noreply.github.com>
Devin Fee <devin@devinfee.com>
dmzkrsk <dmzkrsk@gmail.com>
Donald Stufft <donald@stufft.io>
Dylan Lloyd <dylan@disinclined.org>
Elvis Stansvik <elvstone@gmail.com>
Evan James <thasero@gmail.com>
Florian Friesdorf <flo@chaoflow.net>
Gavin Wahl <gwahl@fusionbox.com>
Gerard Toonstra <g.toonstra@coolblue.nl>
GitHub <noreply@github.com>
Hans Lawrenz <hrlawrenz@gmail.com>
Hugo Peixoto <hugo.peixoto@gmail.com>
Igor Davydenko <playpauseandstop@gmail.com>
Ilya Baryshev <baryshev@gmail.com>
Immortalin <immortalin@icloud.com>
jamin <jamin@bitlag.net>
Jannis Leidel <jannis@leidel.info>
jbergknoff-10e <jonathan@10etechnology.com>
Jeffrey Gelens <jeffrey@gelens.org>
Jeremy Bowman <jbowman@edx.org>
Jiangge Zhang <tonyseek@gmail.com>
Joerg Rittinger <joerg.rittinger@blue-yonder.com>
John Mark Schofield <jms@schof.org>
Jon Banafato <jon@jonafato.com>
Jon Dufresne <jon.dufresne@gmail.com>
Jon San Miguel <sanmiguelje@yahoo.com>
Jonathan Kim <jon.kim@tegocover.com>
Jonathan Kim <jkimbo@gmail.com>
Julian Gonggrijp <j.gonggrijp@gmail.com>
Kevin Wilson <kevin@knewton.com>
Kyle Stevenson <kyle.stevenson94@gmail.com>
Lucas Cimon <lucas.cimon@gmail.com>
Lucas Cimon <LCimon@voyages-sncf.com>
Marco Braak <mbraak@ridethepony.nl>
Mark Lewandowski <mark.e.lewandowski@gmail.com>
Mark Philpot <mark@mattermark.com>
Matt Long <matt.long@plangrid.com>
Matt Patrick <Hazmat345@users.noreply.github.com>
Max Justicz <max.justicz@getcruise.com>
mete0r <mete0r@sarangbang.or.kr>
Michael Baltaks <m@baltaks.com>
Michael Jones <m.pricejones@gmail.com>
Mike TUMS <mktums@gmail.com>
Misha Wolfson <myw@users.noreply.github.com>
Nina Zakharenko <nzakharenko@gmail.com>
Paul Kernfeld <pk@knewton.com>
Paul Kernfeld <paul@Pauls-MacBook-Pro.local>
Paul Kernfeld <paulkernfeld@gmail.com>
Pavel Karateev <lancelote.du.lac@gmail.com>
Paweł Marczewski <pawel@codility.com>
Paweł Marczewski <pwmarcz@gmail.com>
Pekka Pöyry <pekka.poyry@fastmonkeys.com>
Peter Bittner <django@bittner.it>
Peter Darrow <pmdarrow@gmail.com>
Philip Jenvey <pjenvey@underboss.org>
Piotr Grzesik <pj.grzesik@gmail.com>
Quentin Pradet <quentin@clustree.com>
raimon <raimon49@hotmail.com>
Ramiro Morales <ramiro@rmorales.net>
Rick van Hattem <wolph@wol.ph>
Rolando Espinoza <rndmax84@gmail.com>
Rory McCann <rory@technomancy.org>
samdobson <sjd333@gmail.com>
Saulius Žemaitaitis <saulius@zemaitaitis.lt>
scottbelden <scottabelden+github.sb@gmail.com>
Simon <contact@saimon.org>
Simon Weber <simon@venmo.com>
Simon Weber <simon@simonmweber.com>
Sylvain <sylvain.desodt+github@gmail.com>
Sylwester Kardziejonek <sylwester.kardziejonek@gmail.com>
Thomas Grainger <tagrain@gmail.com>
Tom Forbes <tom.forbes@contextis.co.uk>
Tom Parker <palfrey@tevp.net>
Tuomas Suutari <tuomas@nepnep.net>
Tuomas Suutari <tuomas.suutari@anders.fi>
Tuomas Suutari <tuomas.suutari@gmail.com>
Tyson Clugg <tyson@clugg.net>
Vincent Driessen <me@nvie.com>
Vincent Driessen <vincent@3rdcloud.com>
Vincent Philippon <sindaewoh@gmail.com>
Vincent Philippon <vphilippon@users.noreply.github.com>
Vladimir Rudnyh <rudnyh@corp.mail.ru>
